.buttonList {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.flex {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.button {
  border: none;
  background-color: unset;
  cursor: pointer;
  font-size: 1rem;

  text-decoration: none;
  position: relative;
  outline: none;
}
.buttonSelected {
  color: #548a6a;
}
.searchButton {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
}
.searchInput {
  font-size: 0.8rem;
}

.button:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #548a6a;
  content: "";
  transition: width 0.3s ease-out;
}
.button:hover:after,
.button:focus:after {
  width: 100%;
}
.button:hover {
  color: #548a6a;
}

.dropDownText {
  display: none;
}
.contentVisible {
  visibility: visible;
}
.filterButtons_flex__tqWMH > div:nth-child(2) {
  margin-left: auto;
}
.item:not(:first-child) {
  margin-left: 1rem;
}
.search {
  margin-left: auto;
  height: 2rem;
  width: 14rem;
  border-bottom: 1px solid;
  position: relative;
}
.search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  position: absolute;
  bottom: 10px;
  left: 30px;
}

@media (max-width: 771px) {
  .buttonList {
    max-width: unset;
  }
  .item{
    margin-left: 1rem;
  }
  .button:hover{
    color: black
  }
  .dropDown {
    position: relative;
    visibility: visible;
    width: 100%;
    height: 6rem;
    background-color: #548a6a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;


  }
  .dropDownText {
    display: block;
    margin-left: 2rem;
  }
  .contentHidden {
    display: none;
  }
  .buttonList li .buttonSelected {
    display: none;
  }
  .contentVisible {
    display: block;
    background-color: #548a6a;
    position: absolute;
    top: 60px;
    width: 100%;
    min-height: 25rem;
    z-index: 150;

    

    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .buttonList {
    display: flex;
    flex-direction: column;
  }
  .button {
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .wrap {
    position: relative;
    width: 46px;
  }

  .figure1,
  .figure2 {
    position: absolute;
    background: #fff;
    transition: all 0.2s;
  }

  .figure1 {
    width: 19px;
    height: 3px;
    transform: rotate(45deg);
  }
  .figure2 {
    width: 20px;
    height: 3px;
    transform: rotate(-45deg);
    left: 12px;
    top: 0px;
  }
  .figure1Rotated {
    transform: rotate(-45deg);
  }
  .figure2Rotated {
    transform: rotate(45deg);
  }

  .flex {
    flex-direction: column-reverse;
    margin-top: 1.5rem;
  }
  .search {
    margin-left: unset;
    height: 5rem;
    width: 100%;
  }

  .searchInput {
    font-size: 2rem;
   
  }
  .searchForm {
    display: flex;
    flex-direction: row-reverse;
  }
  .search input {
    left: 18px;
    bottom: 20px;
    width: 85%;
  }
  .searchButton {
    right: 20px;
    top: 6px;
    z-index: 100;
  }
}
@media (max-width: 350px) {
  .search input {
    font-size: 1.5rem;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}