.flex {
  display: flex;
  font-size: 0.7rem;
  margin-left: auto;
  margin-top: 0.6rem;
}
.min {
  margin-left: 0.2rem;
}

@media (max-width: 771px) {
  .min {
    font-size: 1.6rem;
  }
}
@media (max-width: 429px) {
.flex{
  margin-left: unset;
  margin-right: auto;
}
}